* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #bae6fd, #ffffff);
  color: #1f2937;
  height: 100vh;
  overflow-x: hidden;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 100px;
}

.scene-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 5cm;
  height: 5cm;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: popIn 0.4s ease;
}

.dialogue-box {
  /* background: rgba(255, 255, 255, 0.9); */
  background: #8478aeFF;
  /* border: 1px solid #d1d5db; */
  border-radius: 1.5rem;
  padding: 1rem;
  margin-top: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  width: 392px;
  height: 227px;
}

.dialogue-text {
  font-size: 16pt;
  /* color: #374151; */
  color: #ffffff;
  margin: 0 auto 1rem auto;
  max-width: 319px;
  word-wrap: break-word;
  text-align: center;
}
.dialogue-title {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

.dialogue-text strong {
  color: #111827;
}

.page-title {
  position: absolute;
  top: 2.8%;
}

.control-button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 22pt;
  font-weight: 700;
  color: white;
  width: 380px;
  height: 70px;
  border: none;
  border-radius: 9999px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.control-button.recording {
  background-color: #ef4444;
}

.control-button.idle {
  background-color: #3b82f6;
}

.control-button.idle:hover {
  background-color: #2563eb;
}

.cb-svg {
  margin-left: 15px;
}
.cb-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
  width: 100%;
  line-height: 1.1;
}

.cb-title {
  font-size: 24px;
  font-weight: 700;
}

.cb-desc {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.85;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* .control-button.logout {
  margin-top: 0.35rem;
  font-size: 8pt;
  width: auto;
  height: auto;
  padding: 0.35srem 1rem;
  background-color: #3b82f6;
  border-radius: 9999px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.control-button.logout:hover {
  background-color: #2563eb;
}
 */