.navigation-bottom {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 400px;
    height: 70px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.25);
    z-index: 100; /* Reduced from 1000 */
    border-radius: 20px;
    padding: 0 10px;
}

/* Navigation buttons */
.navigation-button {
    flex: 1;
    text-align: center;
    color: #2f2f2f;
    font-size: 12px;
    cursor: pointer;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

@media (min-width: 769px) {
    .navigation-bottom {
        gap: 10px;
    }
}

.navigation-button img {
    width: 22px;
    height: 22px;
}

.navigation-button:hover,
.navigation-button.active {
    background: #ebebeb;
}
/* mobile optimization  */
@media (max-width: 480px) {
    .navigation-bottom {
        bottom: 0px;
        height: 65px;
        border-radius: 0px;
        width: 100vw;
        max-width: 100vw;
        
    }

    .navigation-button img {
        width: 20px;
        height: 20px;
    }

    .navigation-button {
        font-size: 11px;
        height: 50px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .navigation-bottom {
        width: 85vw;
        height: 75px;
    }

    .navigation-button {
        font-size: 13px;
    }
}
